* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Sport2";
    src: url(../assets/fonts/Sport2/sportsjersey.ttf);
}

header {
    background: linear-gradient(90deg, rgba(33, 37, 41, 1) 10%, rgba(72, 77, 82, 1) 30%, rgba(72, 77, 82, 1) 70%, rgba(33, 37, 41, 1) 90%) !important;
}

nav {
    height: 8vh;
}

a {
    text-decoration: none;
    font-family: Sport2 !important;
    font-size: x-large;
    margin: 2%;
    color: white;
}

nav a:hover {
    color: black;
}

main {
    background: linear-gradient(90deg, rgba(33, 37, 41, 1) 10%, rgba(72, 77, 82, 1) 30%, rgba(72, 77, 82, 1) 70%, rgba(33, 37, 41, 1) 90%) !important;
}

span {
    color: white
}
h2 {
    color: white;
}

a img {
    width: 25px;
}

/* Section numero uno  */

#section_car1 {
    width: 30%;
    padding: 0 !important;
    margin-left: 10% !important;
    text-align: center;
    font-size: x-large;
    color: white;
}

#section_car2 {
    width: 30%;
    padding: 0 !important;
    text-align: center;
    font-size: x-large;
    color: white;
}

.card-body {
    background: linear-gradient(90deg, rgba(79, 84, 88, 1) 10%, rgba(95, 101, 108, 1) 30%, rgba(95, 101, 108, 1) 70%, rgba(79, 84, 88, 1) 90%);
}

h5 {
    font-size: x-large;
}

#video_sec2 {
    margin-left: 9% !important;
}

#Imagen {
    width: 25%;
}

.videos {
    width: 750px;
    height: 490px;
    transition: transform 0.5s ease;
}

.videos:hover {
    transform: scale(1.05);
}

footer {
    background: linear-gradient(90deg, rgba(33, 37, 41, 1) 10%, rgba(72, 77, 82, 1) 30%, rgba(72, 77, 82, 1) 70%, rgba(33, 37, 41, 1) 90%) !important;
    color: white;
}

label {
    color:white
}
