@mixin mb($medida: 320px) {
    @media screen and (max-width: $medida) {
        @content;
    }
}

@mixin tb($min: 321px, $max: 768px) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content
    }
}

@mixin pc($miin: 769px, $maax: 1024px) {
    @media screen and (min-width: $miin) and (max-width: $maax) {
        @content
    }
}

main {

    background: linear-gradient(90deg, rgba(33, 37, 41, 1) 10%, rgba(72, 77, 82, 1) 30%, rgba(72, 77, 82, 1) 70%, rgba(33, 37, 41, 1) 90%);

    .fila_separador {
        .imgsep {
            height: 4px;
        }

        h2 {
            color: map-get($paleta-colores, "blanco");
        }
    }

    .container {
        .fila_inicial {
            .card_inicio {
                background: linear-gradient(90deg, rgba(79, 84, 88, 1) 10%, rgba(95, 101, 108, 1) 30%, rgba(95, 101, 108, 1) 70%, rgba(79, 84, 88, 1) 90%);
                margin-left: 5%;
                color: white;

                @include mb() {
                    margin-left: 0;
                }

                @include tb() {
                    width: 100%;
                    margin: 0;
                    margin-top: 5%;
                }

                a {
                    text-decoration: none;
                    color: map-get($paleta-colores, "blanco");

                    h3 {
                        font-size: 40px;
                        margin-bottom: 5%;

                        @include mb() {
                            font-size: large;
                        }

                        @include tb() {
                            font-size: 30px;
                        }

                        @include pc() {
                            font-size: 30px;
                        }
                    }

                    h3:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    font-size: 17px;
                    padding: 0;

                    @include mb() {
                        font-size: small;
                    }

                    @include tb() {}

                    @include pc() {}
                }
            }

            .imagen_inicio {
                width: 56%;
                padding: 0;

                @include mb() {
                    width: 100%;
                }

                @include tb() {
                    width: 100%;
                }

                @include pc() {
                    width: 60%;
                }

                img {
                    width: 100%;
                    max-width: 100%;

                    @include mb() {
                        max-width: 100%;
                    }

                    @include tb() {
                        max-width: 100%;
                    }

                    @include pc() {
                        max-width: 100%;
                    }
                }
            }
        }

        .fila_uno {
            .section_car1 {
                padding: 0;
                text-align: center;
                font-size: x-large;
                color: map-get($paleta-colores, "blanco");
                height: 402px;
                margin-left: 4.9%;

                @include mb() {
                    max-width: 91%;
                    height: 273px;
                    margin-left: 5%;
                    margin-bottom: 6%;
                }

                @include tb() {
                    height: 261px;
                    padding: 0;
                    margin-left: 1.5%;
                    width: 29%;
                }

                @include pc() {
                    height: 310px;
                    margin-left: 5%;
                }

                .card-link {
                    margin: 0 !important;
                }

                .card-body {
                    background: linear-gradient(90deg, rgba(79, 84, 88, 1) 10%, rgba(95, 101, 108, 1) 30%, rgba(95, 101, 108, 1) 70%, rgba(79, 84, 88, 1) 90%);

                    a {
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                        color: map-get($paleta-colores, "blanco");
                    }

                    h5 {
                        font-size: x-large;
                        text-align: center;
                        color: map-get($paleta-colores, "blanco");
                        text-decoration: none;

                        @include mb() {
                            font-size: small;
                        }

                        @include tb() {
                            font-size: small;
                        }

                        @include pc() {
                            font-size: large;
                        }
                    }

                    p {
                        font-size: large;
                        color: map-get($paleta-colores, "blanco");
                        text-align: center;

                        @include mb() {
                            font-size: 11px;
                        }

                        @include tb() {
                            font-size: 11px;
                        }

                        @include pc() {
                            font-size: small;
                        }
                    }
                }
            }

            #video_sec1 {
                margin-left: 1.5%;
                width: 56.1%;


                @include mb() {
                    width: 100%;
                    margin: 0;
                }

                @include tb() {
                    width: 68%;
                }

                @include pc() {
                    width: 60%;
                }

                .video_uno {

                    video {
                        max-width: 100%;

                        @include mb() {
                            max-width: 100%;
                        }

                        @include tb() {
                            max-width: 100%;
                        }

                        @include pc() {
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        .fila_dos {
            #video_sec2 {
                margin-left: 4%;
                width: 56.1%;

                @include mb() {
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 5%;
                }

                @include tb() {
                    width: 69%;
                    margin-left: 0;
                }

                @include pc() {
                    width: 60%;
                }

                video {
                    max-width: 100%;

                    @include mb() {
                        max-width: 100%;
                    }

                    @include tb() {
                        max-width: 100%;
                    }

                    @include pc() {
                        max-width: 100%;
                    }
                }
            }

            .section_car2 {
                padding: 0;
                text-align: center;
                font-size: x-large;
                color: map-get($paleta-colores, "blanco");
                height: 402px;
                margin-left: 1.5%;

                @include mb() {
                    height: 276px;
                    max-width: 91%;
                    margin-left: 5%;
                    margin-bottom: 1%;
                }

                @include tb() {
                    height: 265px;
                    padding: 0;
                    width: 29%;
                }

                @include pc() {
                    height: 310px;
                    margin-left: 1%;
                }

                .card-link {
                    margin: 0;
                }

                .card-body {
                    background: linear-gradient(90deg, rgba(79, 84, 88, 1) 10%, rgba(95, 101, 108, 1) 30%, rgba(95, 101, 108, 1) 70%, rgba(79, 84, 88, 1) 90%);

                    a {
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                        color: map-get($paleta-colores, "blanco");
                    }

                    h5 {
                        font-size: x-large;
                        text-align: center;
                        color: map-get($paleta-colores, "blanco");

                        @include mb() {
                            font-size: small;
                        }

                        @include tb() {
                            font-size: small;
                        }

                        @include pc() {
                            font-size: large;
                        }
                    }

                    p {
                        font-size: 17px;
                        color: map-get($paleta-colores, "blanco");
                        text-align: center;

                        @include mb() {
                            font-size: small;
                        }

                        @include tb() {
                            font-size: small;
                        }

                        @include pc() {
                            font-size: small;
                        }
                    }
                }
            }


        }

        .fila_tres {
            #video_sec3 {
                width: 44.8%;
                margin-left: 4%;

                @include mb() {
                    width: 100%;
                    margin-bottom: 5%;
                    margin-left: 0;
                }

                @include tb() {
                    width: 49%;
                    margin-left: 0;
                }

                @include pc() {
                    width: 46%;
                    margin-left: 4%;
                }

                video {
                    max-width: 100%;

                    @include mb() {
                        max-width: 100%;
                    }

                    @include tb() {
                        max-width: 100%;
                    }

                    @include pc() {
                        max-width: 100%;
                    }
                }
            }

            #video_sec3_2 {
                width: 44.8%;
                margin-left: 2.5%;

                @include mb() {
                    width: 100%;
                    margin-left: 0;
                }

                @include tb() {
                    width: 49%;
                    margin-left: 2%;
                }

                @include pc() {
                    width: 46%;
                    margin-left: 2.5%;
                }

                video {
                    max-width: 100%;

                    @include mb() {
                        max-width: 100%;
                    }

                    @include tb() {
                        max-width: 100%;
                    }

                    @include pc() {
                        max-width: 100%;
                    }
                }
            }
        }

        .fila_cuatro {
            #video_sec4 {
                width: 56.1;
                margin-left: 4%;

                @include mb() {
                    width: 100%;
                    margin-left: 0;
                }

                @include tb() {
                    width: 70%;
                    margin-left: 0;
                }

                @include pc() {
                    width: 70%;
                }

                video {
                    max-width: 100%;

                    @include mb() {
                        max-width: 100%;
                    }

                    @include tb() {
                        max-width: 100%;
                    }

                    @include pc() {
                        max-width: 100%;
                    }
                }
            }

            #card_sec4 {
                border: none;
                max-width: 25.5%;
                height: 486px;

                @include mb() {
                    height: 1px;
                    visibility: hidden;
                }

                @include tb() {
                    max-width: 30%;
                    height: 274px;
                }

                @include pc() {
                    max-width: 24.5%;
                    height: 368px;
                }

                .card-body {
                    background: linear-gradient(90deg, rgba(79, 84, 88, 1) 10%, rgba(95, 101, 108, 1) 30%, rgba(95, 101, 108, 1) 70%, rgba(79, 84, 88, 1) 90%);
                    color: map-get($paleta-colores, "blanco");

                    a {
                        text-decoration: none;
                        color: map-get($paleta-colores, "blanco");
                    }

                    a:hover {
                        text-decoration: underline;
                        color: map-get($paleta-colores, "blanco");
                    }

                    h2 {
                        font-size: 50px;

                        @include mb() {
                            font-size: 1px;
                        }

                        @include tb() {
                            font-size: 20px;
                        }

                        @include pc() {
                            font-size: 30px;
                        }
                    }
                }
            }
        }

        .fila_final {

            .video_final {
                width: 46%;
                margin-left: 4%;

                @include mb() {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 5%;
                }

                @include mb() {}

                @include mb() {}

                video {
                    max-width: 100%;
                }
            }

            .video_final_2 {
                width: 46%;
                margin-left: 0.5%;

                @include mb() {
                    width: 100%;
                    margin: 0;
                }

                @include tb() {}

                @include pc() {}

                video {
                    max-width: 100%;
                }
            }
        }


        .fila_semifinal {

            @include tb() {
                margin-bottom: 10%;
            }

            .video_semi {
                width: 58.3%;
                margin-left: 4%;

                @include mb() {
                    width: 100%;
                    margin: 0;
                }

                @include tb() {
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 3%;
                }


                video {
                    width: 100%;
                }
            }

            .noticias_semi {

                @include tb() {
                    display: flex;
                }

                .con_imagen_semi {
                    margin-left: 2.3%;
                    width: 100%;
                    height: 50%;
                    margin-bottom: 3%;

                    @include mb() {
                        margin: 0;
                        height: 276px;
                        margin-bottom: 5%;
                        margin-top: 5%;
                    }

                    @include tb() {
                        height: 100%;
                        width: 49%;
                        margin-left: 0;
                    }

                    @include pc() {}

                    .imagen_semi {
                        background: url(../assets/galeria/lima-stupa-semifinal.jpg);
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;

                        .ancor_semi {
                            margin-right: 0%;
                            height: 45%;
                            background: linear-gradient(0deg, rgba(39, 27, 69, 1) 0%, rgba(39, 27, 69, 0.927608543417367) 30%, rgba(39, 27, 69, 0.908000700280112) 70%, rgba(68, 51, 93, 0) 100%);
                            padding-left: 4%;
                            padding-top: 5%;
                            display: flex;
                            padding-left: 1%;

                            @include mb() {
                                padding-top: 10%;
                                height: 30%;
                            }

                            @include tb() {
                                padding-top: 10%;
                            }

                            @include pc() {}

                            a {
                                text-decoration: none;
                                color: map-get($paleta-colores, "blanco");
                                margin-left: 3%;

                            }

                            a:hover {
                                text-decoration: underline;
                            }

                            h2 {
                                font-size: x-large;

                                @include mb() {
                                    font-size: small;
                                }

                                @include tb() {
                                    font-size: large;
                                }

                                @include pc() {
                                    font-size: medium;
                                }
                            }
                        }
                    }
                }

                .con_imagen_semi_2 {
                    margin-left: 2.3%;
                    width: 100%;
                    height: 50%;

                    @include mb() {
                        height: 276px;
                        margin: 0;
                    }

                    @include tb() {
                        height: 300px;
                        width: 49%;
                        margin-left: 2%;
                        margin-right: 1%;
                    }

                    @include pc() {}

                    .imagen_semi_2 {
                        background: url(../assets/galeria/ortega-bea-semifinal.jpg);
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;

                        @include mb() {
                            max-width: 100%;
                            height: 276px;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                        @include tb() {
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                        @include pc() {
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                        .ancor_semi {
                            margin-right: 0%;
                            height: 45%;
                            background: linear-gradient(0deg, rgba(39, 27, 69, 1) 0%, rgba(39, 27, 69, 0.927608543417367) 30%, rgba(39, 27, 69, 0.908000700280112) 70%, rgba(68, 51, 93, 0) 100%);
                            padding-left: 4%;
                            padding-top: 5%;
                            display: flex;
                            padding-left: 1%;

                            @include mb() {
                                max-width: 100%;
                                height: 30%;
                                padding-top: 10%;
                            }

                            @include tb() {
                                padding-top: 10%;
                            }

                            @include pc() {}

                            a {
                                text-decoration: none;
                                color: map-get($paleta-colores, "blanco");
                                margin-left: 3%;
                            }

                            a:hover {
                                text-decoration: underline;
                            }

                            h2 {
                                font-size: x-large;

                                @include mb() {
                                    font-size: small;
                                }

                                @include tb() {
                                    font-size: large;
                                }

                                @include pc() {
                                    font-size: medium;
                                }
                            }
                        }
                    }
                }
            }
        }

        .fila_cinco {
            .section_car5 {
                margin-left: 4%;

                @include mb() {
                    height: 276px;
                    max-width: 100%;
                    margin-left: 0%;
                    margin-bottom: 8%;
                }

                @include tb() {
                    height: 269px;
                    padding: 0;
                    margin-left: 0%;
                    width: 29%;
                }

                @include pc() {
                    height: 310px;
                }

                .card-link {
                    margin: 0;
                }

                .card-body {
                    background: linear-gradient(90deg, rgba(79, 84, 88, 1) 10%, rgba(95, 101, 108, 1) 30%, rgba(95, 101, 108, 1) 70%, rgba(79, 84, 88, 1) 90%);

                    a {
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                        color: map-get($paleta-colores, "blanco");
                    }

                    h5 {
                        font-size: x-large;
                        text-align: center;
                        color: map-get($paleta-colores, "blanco");

                        @include mb() {
                            font-size: medium;
                        }

                        @include tb() {
                            font-size: 15px;
                        }

                        @include pc() {
                            font-size: medium;
                        }
                    }

                    p {
                        font-size: large;
                        color: map-get($paleta-colores, "blanco");
                        text-align: center;

                        @include mb() {
                            font-size: small;
                        }

                        @include tb() {
                            font-size: small;
                        }

                        @include pc() {
                            font-size: small;
                        }
                    }
                }
            }

            .con_imagen {
                width: 56.5%;
                margin-left: 2.3%;

                @include mb() {
                    width: 100%;
                    margin-left: 0;
                }

                @include tb() {
                    width: 68.7%;
                }

                @include pc() {
                    width: 59%;
                }

                .imagen_cinco {
                    background: url(../assets/galeria/gonzales-ruiz-amsterdam.jpg);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;

                    @include mb() {
                        max-width: 100%;
                        height: 276px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    @include tb() {
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    @include pc() {
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .ancor5 {
                        margin-right: 0%;
                        height: 45%;
                        background: linear-gradient(0deg, rgba(39, 27, 69, 1) 0%, rgba(39, 27, 69, 0.927608543417367) 30%, rgba(39, 27, 69, 0.908000700280112) 70%, rgba(68, 51, 93, 0) 100%);
                        padding-left: 4%;
                        padding-top: 9%;
                        display: flex;
                        padding-left: 1%;

                        @include mb() {
                            max-width: 100%;
                            height: 30%;
                        }

                        @include tb() {}

                        @include pc() {}

                        a {
                            text-decoration: none;
                            color: map-get($paleta-colores, "blanco");
                            font-weight: 20px;
                            margin-left: 3%;

                        }

                        a:hover {
                            text-decoration: underline;
                        }

                        a img {
                            width: 70px;

                            @include mb() {
                                max-width: 100%;
                            }

                            @include tb() {}

                            @include pc() {}
                        }

                        h2 {
                            @include mb() {
                                font-size: medium;
                            }

                            @include tb() {}

                            @include pc() {}
                        }
                    }
                }
            }
        }

        .fila_seis {
            #video_sec6 {
                width: 44.8%;
                margin-left: 4%;

                @include mb() {
                    width: 100%;
                    margin-bottom: 6%;
                    margin-left: 0;
                }

                @include tb() {
                    width: 49%;
                    margin-left: 0;
                }

                @include pc() {
                    width: 46%;
                    margin-left: 4%;
                }

                video {
                    max-width: 100%;

                    @include mb() {
                        max-width: 100%;
                    }

                    @include tb() {
                        max-width: 100%;
                    }

                    @include pc() {
                        max-width: 100%;
                    }
                }
            }

            #video_sec6_2 {
                width: 44.8%;
                margin-left: 2.5%;

                @include mb() {
                    width: 100%;
                    margin-left: 0;
                }

                @include tb() {
                    width: 49%;
                    margin-left: 2%;
                }

                @include pc() {
                    width: 46%;
                    margin-left: 2.5%;
                }

                video {
                    max-width: 100%;

                    @include mb() {
                        max-width: 100%;
                    }

                    @include tb() {
                        max-width: 100%;
                    }

                    @include pc() {
                        max-width: 100%;
                    }
                }
            }
        }

        .fila_siete {
            .con_imagen_7 {
                width: 56.5%;
                margin-left: 4%;

                @include mb() {
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 8%;
                }

                @include tb() {
                    width: 68.7%;
                    margin-left: 0;
                }

                @include pc() {
                    width: 59%;
                }

                .imagen_siete {
                    background: url(../assets/galeria/arianasanches-josemaria-amsterdam.jpg);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;

                    @include mb() {
                        max-width: 100%;
                        height: 276px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    @include tb() {
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    @include pc() {
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .ancor7 {
                        margin-right: 0%;
                        height: 45%;
                        background: linear-gradient(0deg, rgba(39, 27, 69, 1) 0%, rgba(39, 27, 69, 0.927608543417367) 30%, rgba(39, 27, 69, 0.908000700280112) 70%, rgba(68, 51, 93, 0) 100%);
                        padding-left: 4%;
                        padding-top: 9%;
                        display: flex;
                        padding-left: 1%;

                        @include mb() {
                            max-width: 100%;
                            height: 30%;
                        }

                        a {
                            text-decoration: none;
                            color: map-get($paleta-colores, "blanco");
                            font-weight: 20px;
                            margin-left: 3%;

                        }

                        a:hover {
                            text-decoration: underline;
                        }

                        a img {
                            width: 70px;

                            @include mb() {
                                max-width: 100%;
                            }
                        }
                    }

                    h2 {
                        @include mb() {
                            font-size: medium;
                        }
                    }
                }
            }

            .section_car7 {
                margin-left: 2.3%;

                @include mb() {
                    height: 276px;
                    max-width: 100%;
                    margin-left: 0%;
                    margin-bottom: 8%;
                }

                @include tb() {
                    height: 269px;
                    padding: 0;
                    width: 29%;
                }

                @include pc() {
                    height: 310px;
                }

                .card-link {
                    margin: 0;
                }

                .card-body {
                    background: linear-gradient(90deg, rgba(79, 84, 88, 1) 10%, rgba(95, 101, 108, 1) 30%, rgba(95, 101, 108, 1) 70%, rgba(79, 84, 88, 1) 90%);

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                            color: map-get($paleta-colores, "blanco");
                        }

                        h5 {
                            font-size: x-large;
                            text-align: center;
                            color: map-get($paleta-colores, "blanco");

                            @include mb() {
                                font-size: small;
                            }

                            @include tb() {
                                font-size: medium;
                            }

                            @include pc() {
                                font-size: medium;
                            }

                        }
                    }

                    p {
                        font-size: large;
                        color: map-get($paleta-colores, "blanco");
                        text-align: center;

                        @include mb() {
                            font-size: 12px;
                        }

                        @include tb() {
                            font-size: 12px;
                        }

                        @include pc() {
                            font-size: small;
                        }
                    }
                }
            }
        }

        .fila_ocho {

            .con_imagen_separacion {
                width: 92%;
                height: 500px;
                margin-left: 4%;
                margin-bottom: 5%;

                @include mb() {
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 8%;
                    height: 300px;
                }

                @include tb() {
                    width: 100%;
                    margin-left: 0;
                }

                @include pc() {
                    width: 95%;
                }

                .imagen_separacion {
                    background: url(../assets/galeria/paquito-dinneno-separacion.jpg);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    @include mb() {
                        max-width: 100%;
                        height: 276px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    @include tb() {
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    @include pc() {
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .ancor_separacion {
                        margin-right: 0%;
                        height: 45%;
                        width: 100%;
                        background: linear-gradient(0deg, rgba(39, 27, 69, 1) 0%, rgba(39, 27, 69, 0.927608543417367) 30%, rgba(39, 27, 69, 0.908000700280112) 70%, rgba(68, 51, 93, 0) 100%);
                        padding-left: 3%;
                        padding-top: 10%;
                        display: flex;

                        @include mb() {
                            max-width: 100%;
                            height: 30%;
                        }

                        a {
                            text-decoration: none;
                            color: map-get($paleta-colores, "blanco");
                            margin-left: 3%;

                        }

                        a:hover {
                            text-decoration: underline;
                        }

                        h2 {
                            font-size: xx-large;

                            @include mb() {
                                font-size: small;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 374px) and (max-width: 426px) {

    .container {
        .fila_uno {
            .section_car1 {
                width: 100%;
                margin-bottom: 7%;

                @include tb() {
                    height: 330px !important;
                    margin-left: 0% !important;
                    width: 100% !important;
                }
            }

            #video_sec1 {
                margin-left: 0 !important;
                width: 100% !important;

                @include tb() {
                    width: 100% !important;
                }
            }
        }

        .fila_dos {
            .section_car2 {

                @include tb() {
                    height: 330px !important;
                    margin-left: 0% !important;
                    width: 100% !important;
                }
            }

            #video_sec2 {
                margin-left: 0 !important;
                width: 100% !important;
                margin-bottom: 5%;

                @include tb() {
                    width: 100% !important;
                }
            }
        }

        .fila_tres {
            #video_sec3 {
                width: 100% !important;
                margin-bottom: 5%;

            }

            #video_sec3_2 {
                width: 100% !important;
                margin-left: 0% !important;
            }
        }

        .fila_cuatro {
            #card_sec4 {
                height: 20px !important;

                h2 {
                    font-size: 12.3px !important;
                }
            }
        }

        .fila_final {
            .video_final {
                width: 100% !important;
                margin-left: 0% !important;
                margin-bottom: 5%;
            }

            .video_final_2 {
                width: 100% !important;
                margin-left: 0% !important;
            }
        }

        .fila_cinco {
            .section_car5 {
                margin-bottom: 7%;

                @include tb() {
                    height: 330px !important;
                    width: 100% !important;
                }

            }

            .con_imagen {
                width: 100% !important;
                height: 276px !important;
                margin: 0% !important;
            }
        }

        .fila_seis {
            #video_sec6 {
                width: 100% !important;
                margin-bottom: 5%;

            }

            #video_sec6_2 {
                width: 100% !important;
                margin-left: 0% !important;
            }
        }

        .fila_siete {
            .section_car7 {
                margin-left: 0% !important;

                @include tb() {
                    height: 335px !important;
                    width: 100% !important;
                }
            }

            .con_imagen_7 {
                width: 100% !important;
                height: 276px !important;
                margin: 0% !important;
                margin-bottom: 7% !important;
            }
        }

        .fila_ocho {
            .con_imagen_separacion {
                height: 276px !important;
            }

            .ancor_separacion {
                h2 {
                    font-size: large !important;
                }
            }
        }
    }

}