@media (max-width: 1024px) {

    #section_car1 {
        font-size: small;
        height: 299.95px;
    }

    #section_car2 {
        font-size: small;
        height: 302.7px;
    }

    #video_sec1 {
        margin-left: 0.3%;
    }

    #video_sec2 {
        margin-left: 4%;
    }

    #card_sec3 {
        width: 15.4rem !important;
        font-size: 60%;
        height: 350.98px;
    }

    .card-body {
        padding-top: 4%;
    }

    .card_p {
        font-size: 20px;
    }

}

@media (max-width: 768px) {

    #section_car1 {
        margin-left: 0% !important;
        font-size: small;
        height: 249px;
    }

    #section_car2 {
        font-size: small;
        height: 249px;
    }

    #video_sec1 {
        width: 65%;
    }

    #video_sec2 {
        margin-left: 0% !important;
        width: 65%;
    }

    #video_sec4 {
        width: 49%;
        margin: 0%;
    }

    #video_sec4_2 {
        width: 49%;
        margin: 0%;
        margin-left: 2%;
    }

    #video_sec3 {
        margin: 0 !important;
        width: 64.5%;
    }

    @media (max-width: 320px) {

        #Imagen {
            width: 130px;
            height: 150px;
            margin-bottom: 3%;
        }

        .redes {
            visibility: hidden;
        }

        #section_car1 {
            margin-left: 8% !important;
            font-size: small;
            width: 249px;
        }

        #section_car2 {
            font-size: small;
            width: 249px;
            margin-left: 8% !important;
        }

        #video_sec1 {
            width: 100%;
            margin-top: 3%;
        }

        #video_sec2 {
            margin-left: 0% !important;
            width: 100%;
            margin-bottom: 2%;
        }

        #video_sec4 {
            width: 100%;
            margin: 0%;
            margin-top: 3%;
        }

        #video_sec4_2 {
            width: 100%;
            margin: 0%;
            margin-left: 0%;
            margin-top: 3%;
        }

        #video_sec3 {
            margin: 0 !important;
            width: 100%;
        }

        #card_sec3 {
            height: 1px !important;
            font-size: 1px;
            margin-bottom: 1%;
            visibility: hidden;

        }

    }