main {
    div {
        h2 {
            color:white;
        }
    }
    
    section {
        .row {
            div {
                .card {
                    .card-body {
                        background: linear-gradient(90deg, rgba(79, 84, 88, 1) 10%, rgba(95, 101, 108, 1) 30%, rgba(95, 101, 108, 1) 70%, rgba(79, 84, 88, 1) 90%);

                        h5 {
                            color: white;
                        }

                        p {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}